[Unit]
Description=alfred
Documentation=https://jrmsdev.github.io/alfred
After=network.target
AssertFileIsExecutable=/usr/local/bin/alfred

[Service]
Type=simple
Restart=on-failure
SuccessExitStatus=0
RootDirectory=/
User=alfred
Group=alfred
EnvironmentFile=/etc/default/alfred
ExecStart=/usr/local/bin/alfred start
ExecStop=/usr/local/bin/alfred stop
ExecReload=/usr/local/bin/alfred reload

[Install]
WantedBy=multi-user.target
